@import url("theme.css");

.highlight a {
    text-decoration: underline;
}

.deprecated p {
    padding: 10px 7px 10px 10px;
    color: #b94a48;
    background-color: #F3E5E5;
    border: 1px solid #eed3d7;
}

.deprecated p span.versionmodified {
    font-weight: bold;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD

.classifier:before {
    font-style: normal;
    margin: 0.2em;
    content: ":";
}
=======
>>>>>>> e137efd835422bc26161ea02d0bc1b488c79ef6a
>>>>>>> release
