[run]
branch = True
source = sklvq
include = */sklvq/*
omit =
    */setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if self.verbose:
    if TYPE_CHECKING:
    show_missing = True