# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:
- job: linting
  displayName: Linting
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.8'
    - script: |
        python -m pip install --upgrade pip
        pip install flake8
      displayName: 'Install flake8'

    # Igoring the following errors and warnings.
    # E501: Line too long, 
    # E203: whitespace before ':', 
    # W503: Line break occured before a binary operator
    - script: | 
        flake8 ./sklvq --ignore E501,E203,W503 
        flake8 ./examples --ignore E501,E203,W503 
      displayName: 'Run lint Test'

